body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: auto;
    padding: 2rem;
}

.panel {
    display: flex;
    background-color: black;
    outline: 1px solid #FFF;
    justify-content: space-between;
    align-items: center;
}

.control-img{
    height: 64px;
    width: 64px;
}

#selectMenu{
    display: grid;    
    background-color: #000;
        padding: 10px;
    margin: 10px 10px;
    list-style: none ;
    list-style-type: none;
    gap:10px;
    width: fit-content;
}


#selectMenu li{
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #FFF;
    width:min-content;
}

#selectMenu li img{
    width: 250px;
    aspect-ratio: auto;

}


#selectMenu li:hover{
    border:1px solid #fff;
}

@media (min-width:900px) {
    #selectMenu {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:900px) {
    #selectMenu{grid-template-columns: repeat(2,1fr);}
}

@media (max-width:600px) {
    #selectMenu {
        grid-template-columns: repeat(1, 1fr);
    }
}