body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}

.panel {
    display: flex;
    background-color: black;
    outline: 1px solid #FFF;
    justify-content: space-between;
    align-items: center;
}

.control-img{
    height: 64px;
    width: 64px;
}